<p>
  <form ng-submit="submit(petObject)">
    <label for="name">Pet's Name</label>
    <input ng-model="petObject.name" type="text" id="name" />

    <label for="name">Animal Type</label>
    <input ng-model="petObject.type" type="text" id="type"/>

    <label for="name">Pet's Age</label>
    <input ng-model="petObject.age" type="number" id="age" />

    <label for="name">Pet's Picture</label>
    <input ng-model="petObject.image" type="url" id="image" />

    <input type="submit" />
  </form>
</p>
