<p>
  <form name="petForm" ng-submit="submit(petObject)" ng-controller="AddController">
    <label for="name">Pet's Name</label>
    <input ng-model="petObject.name" type="text" id="name" /><br /><br />

    <label for="name">Animal Type</label>
    <input ng-model="petObject.type" type="text" id="kind"/><br /><br />

    <label for="age">Pet's Age</label>
    <input ng-model="petObject.age" type="number" id="age" /><br /><br />

    <label for="description">Pet Fun Fact</label>
    <input ng-model="petObject.description" type="text" id="description" /><br /><br />

    <label for="name">Pet's Picture</label>
    <input ng-model="petObject.image" type="url" id="image" /><br /><br />

    <input type="submit" value="Submit" ng-submit="redirect()"/>

  </form>

</p>
